run = "npm start"
entrypoint = "server/index.js"

[env]
NODE_ENV = "production"

[nix]
channel = "stable-22_11"

[deployment]
run = ["sh", "-c", "cd client && npm run build && cd .. && npm start"]
deploymentTarget = "cloudrun"
